#loadingChara{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

#loadingChara.ready{
    left: -100%;
}

#loadingChara.remove{
    left: 200%;
}

#loadingChara .charaContainer{
    width: 200px;
    height: 200px;
    overflow: hidden;
    background: url(/assets/loadingScreen/loadingAnimation/sprite01.png) no-repeat center;
    background-size: 100%;
}

#loadingChara .charaContainer.chara01{
    background-image: url(/assets/loadingScreen/loadingAnimation/sprite01.png);
    animation: spriteAnime01 700ms steps(19) infinite
}

@keyframes spriteAnime01{
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -3800px;
    }
}