.App{
    height: 100vh;
    width: 100vw;
}

.wrapper{
    position: relative;
    transition: transform 0.7s ease-in-out;
}

.youtube-wrapper{
    position: fixed;
    overflow: hidden;
    width: 100%;
}